<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>BBC news</title>
  </head>
  <body>
    <!-- navbar block here-->
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}

    <div class="container">
      <h1 style="text-align: center; padding-top: 70px;"><b>BBC NEWS</b></h1>
      {% for new, des, url, i in context %}

      <img src="{{i}}" alt="Image" />
      <h3><b>News<br> </b>{{new}}</h3>
      <h4><b>Description</b> <br> {{des}}</h4>
      <div>
        <a
          href="{{url}}"
          type="button"
          class="btn btn-outline-primary"
          target="_blank"
          >Read More</a
        >
      </div>
      <br />
      {% endfor %}
    </div>
  </body>

  <!-- footer block here-->
  {% block footer %} {% include 'footer.html' %} {% endblock %}
</html>
