<footer>
  <div style="background-color: black; position:static">
    <div>
      <p
        style="
          padding-left: 20em;
          color: white;
          font-size: 2em;
          text-transform: capitalize;
          letter-spacing: 1px;
        "
      >
        <b>&copy 2020 - Langat Justus</b>
      </p>
    </div>
    <div
      style="
        display: inline-block;
        height: 40px;
        color: white;
        text-align: center;
      "
    >
      <a
        href="https://web.facebook.com/Justuslangat78"
        style="padding-left: 44em"
        >facebok</a
      >
      <a href="https://twitter.com/Langat_036" style="padding-left: 3em"
        >twitter</a
      >
      <a href="https://github.com/Langat05" style="padding-left: 3em">Github</a>
    </div>
  </div>
</footer>
